@tailwind base;
@tailwind components;
@tailwind utilities;

*,*:focus,*:hover{
    outline:none;
}

.left-bar{
    background-image: url("./images/homemeg.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:contain;
    overflow: hidden;
    width: 60vw;
    height:100vh;
   
  }

.issue-login{
    height: 100vh;
    width:100vw;
}

.auto-mid{
    margin:0px auto;
}

.hov-effect{
    fill:#2196f3;
    
}

.hov-effect:hover{
    fill: #51ce90;
    stroke: #2196f3;
    transform:scale(1.1);
   
    }

    .maint{
        background-image: url("./images/undraw_under_construction_46pa.svg");
        background-position: center;
        background-repeat:no-repeat;
        
        overflow: hidden;
    }